img {
  width: 1em;
  height: 1em;
}

div {
  width: 100em;
  margin-left: 3em;
}

h2 {
  font: 200 1.5em/1.5 sans-serif;
}

li {
  list-style-type: none;
  padding: .5em;
}


button {
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: .5em;
}

button:hover {
  background-color: #f9fbff;
  font-size: 1.25em;
}

#noSF {
  font: 200 1em/1.5 sans-serif;
}
